<form>
       <h4>Enregistrer un bien accessible</h4>
       <div [formGroup]="form"
            class="d-flex form-group w-100">
              <div class="d-block w-50 p-3">
                     <div class="d-flex flex-column">
                            <label for="address">Adresse du logement : </label>
                            <input formControlName="address"
                                   type="text"
                                   name="address">
                     </div>
                     <div class="d-flex flex-column">
                            <label for="email">Votre e-mail : </label>
                            <input formControlName="email"
                                   type="text">
                     </div>
                     <div class="d-flex flex-column">
                            <label for="url">L'URL de l'annonce : </label>
                            <input formControlName="url"
                                   type="text">
                     </div>
                     <div class="d-flex flex-column">
                            <label for="description">Description du bien : </label>
                            <textarea formControlName="description"
                                      type="text">
                            </textarea>
                     </div>
              </div>
              <div class="d-block">
                     <div>
                            <label for="easeWheelChair">Accessible en fauteuil</label>
                            <label for="easeWheelChair_true">Oui</label>
                            <input formControlName="easeWheelChair"
                                   id="easeWheelChair_true"
                                   name="easeWheelChair"
                                   value="true"
                                   type="radio">
                            <label for="easeWheelChair_false">Non</label>
                            <input formControlName="easeWheelChair"
                                   id="easeWheelChair_false"
                                   name="easeWheelChair"
                                   value="false"
                                   type="radio">
                     </div>

                     <div>
                            <label for="easeBlind">Accessible pour une personne aveugle</label>
                            <label for="easeBlind_true">Oui</label>
                            <input formControlName="easeBlind"
                                   id="easeBlind_true"
                                   name="easeBlind"
                                   value="true"
                                   type="radio">
                            <label for="easeBlind_false">Non</label>
                            <input formControlName="easeBlind"
                                   id="easeBlind_false"
                                   name="easeBlind"
                                   value="false"
                                   type="radio">
                     </div>
                     <div>
                            <label for="easePartiallyBlind">Accessible malvoyante</label>
                            <label for="easePartiallyBlind_true">Oui</label>
                            <input formControlName="easePartiallyBlind"
                                   id="easePartiallyBlind_true"
                                   name="easePartiallyBlind"
                                   value="true"
                                   type="radio">
                            <label for="easePartiallyBlind_false">Non</label>
                            <input formControlName="easePartiallyBlind"
                                   id="easePartiallyBlind_false"
                                   name="easePartiallyBlind"
                                   value="false"
                                   type="radio">
                     </div>
                     <div>
                            <label for="easeDeaf">Accessible pour une personne sourde / malentendante</label>
                            <label for="easeDeaf_true">Oui</label>
                            <input formControlName="easeDeaf"
                                   id="easeDeaf_true"
                                   name="easeDeaf"
                                   value="true"
                                   type="radio">
                            <label for="easeDeaf_false">Non</label>
                            <input formControlName="easeDeaf"
                                   id="easeDeaf_false"
                                   name="easeDeaf"
                                   value="false"
                                   type="radio">
                     </div>
                     <div>
                            <label for="easeMental">Accessible pour une personne avec une déficience mentale</label>
                            <label for="easeMental_true">Oui</label>
                            <input formControlName="easeMental"
                                   id="easeMental_true"
                                   name="easeMental"
                                   value="true"
                                   type="radio">
                            <label for="easeMental_false">Non</label>
                            <input formControlName="easeMental"
                                   id="easeMental_false"
                                   name="easeMental"
                                   value="false"
                                   type="radio">
                     </div>
                     <div>
                            <label for="easeElderlyPeople">Accessible pour une personne âgée</label>
                            <label for="easeElderlyPeople_true">Oui</label>
                            <input formControlName="easeElderlyPeople"
                                   id="easeElderlyPeople_true"
                                   name="easeElderlyPeople"
                                   value="true"
                                   type="radio">
                            <label for="easeElderlyPeople_false">Non</label>
                            <input formControlName="easeElderlyPeople"
                                   id="easeElderlyPeople_false"
                                   name="easeElderlyPeople"
                                   value="false"
                                   type="radio">
                     </div>
                     <div>
                            <label for="easeAmputee">Accessible pour une personne amputée</label>
                            <label for="easeAmputee_true">Oui</label>
                            <input formControlName="easeAmputee"
                                   id="easeAmputee_true"
                                   name="easeAmputee"
                                   value="true"
                                   type="radio">
                            <label for="easeAmputee_false">Non</label>
                            <input formControlName="easeAmputee"
                                   id="easeAmputee_false"
                                   name="easeAmputee"
                                   value="false"
                                   type="radio">
                     </div>
                     <div>
                            <label for="easeCare">Accessible pour une personne accompagnée</label>
                            <label for="easeCare_true">Oui</label>
                            <input formControlName="easeCare"
                                   id="easeCare_true"
                                   name="easeCare"
                                   value="true"
                                   type="radio">
                            <label for="easeCare_false">Non</label>
                            <input formControlName="easeCare"
                                   id="easeCare_false"
                                   name="easeCare"
                                   value="false"
                                   type="radio">
                     </div>
                     <div>
                            <label for="easeDoctor">Autre :</label>
                            <div>
                                   <label for="easeDoctor">Docteur à proximité ?</label>
                                   <label for="easeDoctor_true">Oui</label>
                                   <input formControlName="easeDoctor"
                                          id="easeDoctor_true"
                                          name="easeDoctor"
                                          value="true"
                                          type="radio">
                                   <label for="easeDoctor_false">Non</label>
                                   <input formControlName="easeDoctor"
                                          id="easeDoctor_false"
                                          name="easeDoctor"
                                          value="false"
                                          type="radio">
                            </div>
                            <div>
                                   <label for="easeDoctor">Supermarché à proximité ?</label>
                                   <label for="easeMarket_true">Oui</label>
                                   <input formControlName="easeMarket"
                                          id="easeMarket_true"
                                          name="easeMarket"
                                          value="true"
                                          type="radio">
                                   <label for="easeMarket_false">Non</label>
                                   <input formControlName="easeMarket"
                                          id="easeMarket_false"
                                          name="easeMarket"
                                          value="false"
                                          type="radio">
                            </div>
                     </div>
              </div>
       </div>
</form>
<button class="btn btn-primary"
        (click)="submitForm()">Valider</button>
<div id="map"></div>
